<div class="d-flex justify-content-between flex-row bd-highlight mb-3">
  <h1 *ngIf="books">There is {{ books.length }} books</h1>
  <button routerLink="/create" class="btn btn-warning">Add new book</button>
</div>
<br>
<table class="table table-bordered table-hover table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        ID
      </th>
      <th>
        TITLE
      </th>
      <th>
        AUTHOR
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books; index as i">
      <td>
        {{ i + 1 }}
      </td>
      <td>
        <a class="action-link" [routerLink]="['detail', book.id]">{{ book.title }}</a>
      </td>
      <td>
        {{ book.author }}
      </td>
      <td class="text-right">
        <a [routerLink]="['delete', book.id]" class="btn btn-danger btn-sm text-white mx-1">
          Delete
          <i class="fa fa-trash"></i>
        </a>
        <a [routerLink]="['edit', book.id]" class="btn inline-block btn-success btn-sm text-white mx-1">
          Edit
          <i class="fa fa-edit"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
